<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <% if ENV.fetch("APP_ENV") == "staging" %>
      <meta name="robots" content="noindex">
    <% end %>

    <title>sargassum.watch</title>

    <!-- favicons -->
    <%= favicon_link_tag 'favicon-16x16.png', size:"16x16" %>
    <%= favicon_link_tag 'favicon-32x32.png', size:"32x32" %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">

    <%= stylesheet_pack_tag 'map', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag 'map' %>
  </body>
</html>
