<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <%= render 'layouts/meta_tags' %>

    <%= stylesheet_pack_tag "map", media: "all" %>
    <%= stylesheet_link_tag "application", media: "all" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= Gon::Base.render_data %>

    <%= render "layouts/google_analytics" %>
  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag "map" %>
  </body>
</html>
